/* Importing Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

 
/* Styling Mobile Version */

* {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

/* Making the skip link hidden */

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

/* Styling the button */
button {
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #ba0606;
}

/* Making each section center */

section {
    text-align: center;
    padding: 2rem;
}

/* removing bullets */
ul {
    list-style: none;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

ul a:hover {
    color:#ba0606
}

/* Nav Menu List */ 

.menu li {
    padding: .25rem 0;
}


/* Brand Logo */

.logo {
    display: flex;
    justify-content: center;
}

.logo-image {
    max-width: 180px;
}

.search-icon {
    display: none;
}

/* Home Page */

/* hero GIF banner with gradient overlay */
.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/vr-hero-mobile.gif);
    background-size: cover;
    background-position: center;
    padding: 90px 15px;
}


.hero .hero-container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero .hero-container h2 {
    color: white;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling the nav menu */

.menu {
    text-align: center;
}

.explore-section img {
    max-width: 100%;
}

.games-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.games-container img {
    max-width: 100%;
    justify-content: space-between;

}



.footer-menu {
    padding-left: 2.5rem;
}

/* About Page */

/* Setting the width for the images so it will fit the mobile screen */
.about img {
    width: 100%;
}

.know-more img {
    width: 50%;
}

.blog img {
    width: 100%;
}

.comingsoon img {
    width: 100%;
}


.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons img {
    width: 15%;
}

/* Styling Contact Page */

/* Setting size for Google Map */
iframe {
    width: 100%;
}

/* Contact Form */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate(0, 3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

h1 {
    animation: slide-in 1s ease-in-out;
}

p {
    animation: slide-in 1s ease-in-out 300ms;
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.about-image {
    animation: zoom-in 300ms ease-in;
}

/*** Desktop ***/

@media screen and (min-width:1080px) {

/* Styling the nav bar */
    .header {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .nav {
        flex-basis: 70%;
    }

    .search-icon {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .nav ul {
        flex-direction: row;
        margin: 0;
        padding: 0;
        overflow: hidden;
    
    }

    .nav li a {
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;

    }

    /* Adding hover to the navbar */

    li a:hover {
        background-color: #000;
        color: white;
    }

    /* Moving the logo to the top left */
    .logo {
        display: flex;
        justify-content: left;
    }

    /* Adding margins to the explore section */

    .explore-section {
        margin: 3rem;
        text-align: center;
    }
    /* Adding margins to the Explore section text */

    .explore-text {
        margin: 9rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* Setting max width of the Explore image */

    .explore-section img {
        max-width: 75%;
    }

    /* Adding margins to the Coming Soon section */

  

    .comingsoon img {
        margin-bottom: 1rem;
    }


    .comingsoon img {
        max-width: 75%;
    }

    
    /* Adding background color to the Know More section */

    .know {
        background-color: #cdcdcd;
    }

    .know-more {
        display: flex;
    }

    /* Setting the max width of the Blog image */

    .blog img {
        max-width: 75%;
    }

    /* Adding margins to the paragraph in the Blog section */

    .blog p {
        margin: 9rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* Adding margins to the Know More Paragraph and Aligning the text */

    .know-more p {
        margin: 2rem;
        text-align: justify;
    }

    /* Adding margins to the About Section */

    .about p {
        margin: 9rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    /* Setting the max width for the image in About section */

    .about img {
        max-width: 75%;
    }

    /* Setting the max width for the image in Games section */

    .games-container img {
        max-width: 75%;
    }

    /* Adding margins to the paragpraph in Games section */

    .games p {
        margin: 10rem;
        margin-top: 0;
        margin-bottom: 2rem;
        text-align: justify;

    }

    /* Adding background color to the Games section */

    .games {
        background-color: #cdcdcd;
    }


    /* Adding margins to the hero text */

    .hero-text {
        margin: 5rem;
        margin-bottom: 0;
    }


    /* Styling the map so it fits the frame size */

    .map-container {
        display: flex;
        gap: 1.5rem;
    }

    .map {
        flex-basis: 50%;
    }

    .social-icons {
        gap: 1rem;
    }

    /* Making the icons smaller */

    .social-icons img {
        max-width: 64px;
    }

    .address {
        line-height: 1.8;
    }

    /* Styling the search bar */
   
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
  }

  /* Style the submit button */
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #000;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
  }

    form.example button:hover {
        background: #ba0606;
  }

  /* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
  }


  

    /* See the magic of VR web */
    
}