/* Importing Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap');

/* Styling Mobile Version */

* {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
}

/* Styling the button */
button {
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
}

button:hover {
    background-color: #ba0606;
}

/* Making each section center */

section {
    text-align: center;
    padding: 2rem;
}

/* removing bullets */
ul {
    list-style: none;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

ul a:hover {
    color:#ba0606
}

/* Nav Menu List */ 

.menu li {
    padding: .25rem 0;
}


/* Brand Logo */

.logo {
    display: flex;
    justify-content: center;
}

.logo-image {
    max-width: 180px;
}

.search-icon {
    display: none;
}

/* Home Page */

/* hero GIF banner with gradient overlay */
.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/vr-hero-mobile.gif);
    background-size: cover;
    background-position: center;
    padding: 90px 15px;
}


.hero .hero-container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero .hero-container h2 {
    color: white;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styling the nav menu */

.menu {
    text-align: center;
}

.explore-section img {
    max-width: 100%;
}

.games-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.games-container img {
    max-width: 100%;
}

.comingsoon img {
    width: 100%;
    margin-bottom: 1rem;
}

.footer-menu {
    padding-left: 2.5rem;
}

/* About Page */

.about img {
    width: 100%;
}

.know-more img {
    width: 50%;
}

.blog img {
    width: 100%;
}


.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons img {
    width: 15%;
}

/* Styling Contact Page */

/* Setting size for Google Map */
iframe {
    width: 100%;
}

/* Contact Form */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate(0, 3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

h1 {
    animation: slide-in 1s ease-in-out;
}

p {
    animation: slide-in 1s ease-in-out 300ms;
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.25);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.about-image {
    animation: zoom-in 300ms ease-in;
}

/*** Desktop ***/

@media screen and (min-width:1080px) {


    .header {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .nav {
        flex-basis: 80%;
    }

    .search-icon {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .nav ul {
        flex-direction: row;
        margin: 0;
        padding: 0;
        overflow: hidden;
    
    }

    .nav li a {
        display: block;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

    li a:hover {
        background-color: #000;
        color: white;
    }

    .logo {
        display: flex;
        justify-content: left;
    }

    .know-more {
        display: flex;
    }

    .map-container {
        display: flex;
        gap: 1.5rem;
    }

    .map {
        flex-basis: 50%;
    }

    .social-icons {
        gap: 1rem;
    }

    .social-icons img {
        max-width: 64px;
    }

    .address {
        line-height: 1.8;
    }


    /* See the magic of VR web */
    
}